[submodule "Plugins/SafeMath"]
	path = Plugins/SafeMath
	url = git@github.com:mikosz/ue-safemath.git
[submodule "Plugins/ImGui"]
	path = Plugins/ImGui
	url = git@github.com:mikosz/ImGui.git
[submodule "Plugins/ImGuiDeveloperToolkit"]
	path = Plugins/ImGuiDeveloperToolkit
	url = git@github.com:mikosz/ImGuiDeveloperToolkit.git
[submodule "Plugins/ZakazaneUtilities"]
	path = Plugins/ZakazaneUtilities
	url = git@github.com:mikosz/zakazane-utilities.git
